[submodule "Submodules/JUCE"]
	path = Submodules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Submodules/Catch2"]
	path = Submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "Submodules/json"]
	path = Submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "Submodules/link"]
	path = Submodules/link
	url = https://github.com/Ableton/link.git
[submodule "Submodules/farbot"]
	path = Submodules/farbot
	url = https://github.com/hogliux/farbot.git
[submodule "Submodules/essentia"]
	path = Submodules/essentia
	url = https://github.com/MTG/essentia.git
