# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lola/Catch2Tests/_build/CMakeFiles
Lola/Catch2Tests/_build/juce-bin
ReRunCMake.make
Lola/Catch2Tests/_build/catch2-bin
Lola/Catch2Tests/_build/AUDIUM_TESTS.xcodeproj/xcuserdata/klausvoltmer.xcuserdatad
Lola/Catch2Tests/my-build
Lola/Builds/MacOSX/Lola Workspace.xcworkspace/xcuserdata/klausvoltmer.xcuserdatad
Lola/Builds/MacOSX/Lola.xcodeproj/xcuserdata/klausvoltmer.xcuserdatad
Lola/Builds/MacOSX/Lola.xcodeproj/project.xcworkspace/xcuserdata/klausvoltmer.xcuserdatad
