# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lola/Catch2Tests/_build/CMakeFiles
Lola/Catch2Tests/_build/juce-bin
ReRunCMake.make
Lola/Catch2Tests/_build/catch2-bin
Lola/Catch2Tests/_build/AUDIUM_TESTS.xcodeproj/xcuserdata/klausvoltmer.xcuserdatad
Lola/Catch2Tests/my-build
Lola/Builds/MacOSX/Lola Workspace.xcworkspace/xcuserdata/klausvoltmer.xcuserdatad
Lola/Builds/MacOSX/Lola.xcodeproj/xcuserdata/klausvoltmer.xcuserdatad
Lola/Builds/MacOSX/Lola.xcodeproj/project.xcworkspace/xcuserdata/klausvoltmer.xcuserdatad
Lola/Catch2Tests/_build/LolaTests_artefacts
Lola/Catch2Tests/_build/Lola_Tests.xcodeproj/xcuserdata/klausvoltmer.xcuserdatad
Lola/Builds/VisualStudio2022/.vs/Lola/
Lola/Builds/VisualStudio2022/x64/
Lola/Builds/MacOSX/Audionaut.xcodeproj/xcuserdata/klausvoltmer.xcuserdatad
Lola/Builds/MacOSX/Audionaut Workspace.xcworkspace/xcuserdata/klausvoltmer.xcuserdatad
Lola/Catch2Tests/_build/AudionautTests_artefacts
Lola/Catch2Tests/_build/Audionaut_Tests.xcodeproj/xcuserdata/klausvoltmer.xcuserdatad
Audionaut/Builds/MacOSX/Audionaut.xcodeproj/xcuserdata/klausvoltmer.xcuserdatad
Audionaut/Builds/MacOSX/Audionaut Workspace.xcworkspace/xcuserdata/klausvoltmer.xcuserdatad
Audionaut/Catch2Tests/_build/catch2-bin
Audionaut/Catch2Tests/_build/CMakeFiles
Audionaut/Catch2Tests/_build
build
Audionaut/Catch2Tests/TestFiles/Sessions/testing.audium
Audionaut/Builds/MacOSX/Audionaut.xcodeproj/project.xcworkspace/xcuserdata/klausvoltmer.xcuserdatad
Audionaut/Builds/VisualStudio2026/.vs/
Audionaut/Builds/VisualStudio2026/x64/
Audionaut/Builds/VisualStudio2026/Audionaut_App.vcxproj.user
